body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content-wrapper {
    position: absolute;
    top: 100vh;
    /* Начинается за пределами экрана */
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content-wrapper-center {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Добавьте отступ сверху, равный высоте навбара */
    padding-top: 60px; /* Измените на фактическую высоту вашего навбара */
    box-sizing: border-box;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* Если нужно, добавьте максимальную высоту, чтобы карточка не выходила за пределы экрана */
    max-height: calc(100vh - 80px); /* 80px = высота навбара + отступ */
    overflow-y: auto;
}

main {
    padding-top: 70px;
    /*чтобы текст пониже был, а то за навбаром не видно*/
}

header {
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 2;
}

footer {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-center {
    text-align: center;
    background-color: white;
    padding: 40px;           /* Add some padding inside the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow for the card effect */
    border-radius: 8px;      /* Rounded corners for a card-like appearance */
    width: 100%;             /* Ensure it takes up full width inside its container */
    box-sizing: border-box;
}

section {
    margin-bottom: 40px;
}

.center-text {
    text-align: center;
}

h1,
h2 {
    color: #333;
}

form,
.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    text-transform: uppercase;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
}

.btn.btn-primary:hover {
    background-color: #007B9E;
    color: white !important;
}

.btn.btn-primary:active {
    transform: scale(0.98);
}

.btn.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    text-transform: uppercase;
    background-color: #667b83;
    color: white;
    text-decoration: none;
}

.btn.btn-secondary:hover {
    background-color: #4f6168;
    color: white !important;
}

.btn.btn-secondary:active {
    transform: scale(0.98);
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    text-transform: uppercase;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #007B9E;
    color: white !important;
    text-decoration: none;
}

.cta-button:active {
    transform: scale(0.98);
}








#modelList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.model-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}





/* navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    /* Adjust the height as needed */
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    /* Ensure the list items fill the full height of the navbar */
    display: flex;
    align-items: center;
    /* Vertically center the navigation items */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: white;
}









/* video text on index.html */

.feature-card {
    position: relative;
    overflow: hidden;
}

.feature-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 10;
}

.feature-text-blockchain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 10;
}

.feature-title {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
}

.feature-title-black {
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
}

.feature-black {
    color: #000000;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
}

.feature-description {
    color: #FFFFFF;
    font-size: 1.2em;
}

.feature-description-black {
    color: #000000;
    font-size: 1.2em;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%) scale(0.4);
    /* Уменьшаем размер видео на 60% */
    object-fit: cover;
}

#video-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    /* или любое другое значение */
    margin: 0 auto;
    /* для центрирования */
    text-align: center;
    z-index: 10;
    width: 100%;
}

.video-message {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    opacity: 1;
}

#video-on-index {
    width: 100%;
    height: auto;
}

#message-one {
    font-size: 2.5em;
    /* Увеличим размер первого сообщения */
}

#message-two {
    font-size: 1.5em;
    /* Уменьшим размер второго сообщения */
}






/* для стрелки */
.arrow {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
    background-size: contain;

}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}








/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .product {
        width: 100%;
        /* Full width for small devices */
    }

    .contact-form {
        padding: 3em;
        /* Increase padding for larger devices */
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .product {
        width: calc(50% - 20px);
        /* 2 products per row */
        margin: 0 10px;
    }

    .contact-form {
        max-width: 80%;
        margin: 0 auto;
        /* Center the form in a narrower container for readability */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .product {
        width: calc(33.333% - 20px);
        /* 3 products per row */
    }

    .contact-form {
        max-width: 70%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .product {
        width: calc(25% - 20px);
        /* 4 products per row */
    }

    .contact-form {
        max-width: 60%;
    }
}